@{
    ViewData["Title"] = "Home Page";
}

@model Dish

<div class="text-center">
    <h1 class="display-4">@ViewBag.Dish.Name</h1>
    <h2>@ViewBag.Dish.ChefsName</h2> <a href="/"><p>Home</p></a>
    <hr>
    <div>
      <p>@ViewBag.Dish.Description</p>
      <p>@ViewBag.Dish.Calories</p>
      <p>@ViewBag.Dish.Tastiness</p>
    </div>
    <div>
      <a href="/delete/@ViewBag.Dish.DishId">Delete</button>
      <a href="/edit/@ViewBag.Dish.DishId">Edit</button>
    </div>
</div>